<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">


	<servlet id="viewServlet">
		<servlet-name>viewServlet</servlet-name>
		<servlet-class>com.force.sample.servlet.ViewServlet</servlet-class>
	</servlet>
	
	<servlet-mapping id="viewMapping">
		<servlet-name>viewServlet</servlet-name>
		<url-pattern>/rest/queue/123</url-pattern>
	</servlet-mapping>

	<servlet id="queueServlet">
		<servlet-name>queueServlet</servlet-name>
		<servlet-class>com.force.sample.servlet.QueueServlet</servlet-class>
	</servlet>
	
	<servlet-mapping id="queueMapping">
		<servlet-name>queueServlet</servlet-name>
		<url-pattern>/rest/control/queue</url-pattern>
	</servlet-mapping>
	
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
